@model IEnumerable<caa_mis.ViewModels.EmployeeAdminVM>
@{
    ViewData["Title"] = "Employee Index";
}

<h1>Manage Employees</h1>

<p>
    <a asp-action="Create" class="btn btn-primary float-left">Create New</a>
</p>
<div class="text-danger">@TempData["message"]</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)<br />
                    Email: @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchRoles)
                </td>
                <td>
                    @{
                        foreach (var r in item.UserRoles)
                        {
                            @:  @r <br />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    @if (item.NumberOfPushSubscriptions > 0)
                    {
                        @:| @{
                            <a asp-controller="WebPush" asp-action="Send" asp-route-id="@item.ID">Send Notification</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>