@model IEnumerable<caa_mis.ViewModels.EmployeeAdminVM>
@{
    ViewData["Title"] = "Manage Employees";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary float-left">Create New</a>
    <button class="btn btn-outline-primary @(ViewData["Filtering"]) btn-toolbar float-end" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false"
            aria-controls="collapseFilter">
        Filter/Search
    </button>
</p>
<div class="text-danger">@TempData["message"]</div>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">   
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="d-block d-lg-none">
                        <div class="form-group">
                            <label class="control-label">Sort By:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                           
                                </div>
                                <select name="sortFieldID" class="form-control" asp-items="ViewBag.sortFieldID"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Name:</label>
                        @Html.TextBox("SearchName", null, new { @class = "form-control p-2" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Email:</label>
                        @Html.TextBox("SearchLoc", null, new { @class = "form-control p-2" })
                    </div>   
                      <div class="form-group col-md-4">
                        <label class="control-label">Search Branch:</label>
                        @Html.TextBox("SearchLoc", null, new { @class = "form-control p-2" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Role:</label>
                        @Html.TextBox("SearchLoc", null, new { @class = "form-control p-2" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Status:</label>
                        @Html.DropDownList("Status", new SelectList(Enum.GetValues(typeof(Archived))), "-- Select --", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Apply" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
<table class="table" >
    <thead>
        <tr>
            <th style="color: blue; text-decoration: underline; font-weight: normal;">
                @Html.DisplayNameFor(model => model.FullName )
            </th>
            <th style="color: blue; text-decoration: underline; font-weight: normal;">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th style="color: blue; text-decoration: underline; font-weight: normal;">
                @Html.DisplayNameFor(model => model.BranchRoles)
            </th>
            <th style="color: blue; text-decoration: underline; font-weight: normal;">
                @Html.DisplayNameFor(model => model.UserRoles)
            </th>
            <th style="color: blue; text-decoration: underline; font-weight: normal;">
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)<br />
                    Email: @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchRoles)
                </td>
                <td>
                    @{
                        foreach (var r in item.UserRoles)
                        {
                            @:  @r <br />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    @if (item.NumberOfPushSubscriptions > 0)
                    {
                        @:| @{
                            <a asp-controller="WebPush" asp-action="Send" asp-route-id="@item.ID">Send Notification</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</form>